@model List<Comment>

<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <div class="card">
                <div class="table-responsive">
                    <table class="table align-items-center mb-0">
                        <thead>
                            <tr>
                                <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Image</th>
                                <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Name</th>
                                <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Content</th>
                                <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Manage</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var comment in Model)
                            {
                                <tr>
                                    <td>
                                        <div class="d-flex px-2">
                                            <div>
                                                <img src="~/assets/uploads/images/@comment.AppUser.Image.Name" class="avatar avatar-sm rounded-circle me-2">
                                            </div>
                                        </div>
                                    </td>
                                    <td>
                                        <p class="text-xs font-weight-bold mb-0">@comment.AppUser.FirstName @comment.AppUser.LastName</p>
                                    </td>
                                    <td>
                                        <p class="text-xs font-weight-bold mb-0">@comment.Content</p>
                                    </td>
                                    <td>
                                        <a asp-area="admin" asp-controller="dashboard" asp-action="managecomment" asp-route-id="@comment.Id" class="btn bg-gradient-info">Allow</a>
                                        <a asp-area="admin" asp-controller="dashboard" asp-action="removecomment" asp-route-id="@comment.Id" class="btn bg-gradient-danger">Remove</a>
                                    </td>
                                </tr>
                            }

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
