@model Slider

<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <div class="d-flex justify-content-between mt-5 mb-3">
                <a asp-area="admin" asp-controller="slider" asp-action="index" class="badge bg-gradient-secondary">Go Back</a>
                <a asp-area="admin" asp-controller="slider" asp-action="create" class="badge bg-gradient-success">Create</a>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <div class="card">
                <div class="table-responsive">
                    <table class="table align-items-center mb-0">
                        <thead>
                            <tr>
                                <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Image</th>
                                <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Title</th>
                                <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Sub-title</th>
                                <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Content</th>
                                <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Settings</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>
                                    <div class="d-flex px-2">
                                        <div>
                                            <img src="~/assets/uploads/images/@Model.SliderImage.Image.Name" class="avatar avatar-sm rounded-circle me-2">
                                        </div>
                                    </div>
                                </td>
                                <td>
                                    <p class="text-xs font-weight-bold mb-0">@Model.Title</p>
                                </td>
                                <td>
                                    <p class="text-xs font-weight-bold mb-0">@Model.SubTitle</p>
                                </td>
                                <td>
                                    <p class="text-xs font-weight-bold mb-0">@Model.Content</p>
                                </td>
                                <td>
                                    <a asp-area="admin" asp-controller="slider" asp-action="update" asp-route-id="@Model.Id" class="badge bg-gradient-warning">Update</a>
                                    <a asp-area="admin" asp-controller="slider" asp-action="delete" asp-route-id="@Model.Id" class="badge bg-gradient-danger">Delete</a>
                                </td>
                            </tr>

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

