@{
    Layout = "_LayoutV2";
}

@model HomeVM
        <!-- SLIDER AREA START (slider-3) -->
        <div class="ltn__slider-area ltn__slider-3  section-bg-2">
            <div class="ltn__slide-one-active slick-slide-arrow-1 slick-slide-dots-1">
                @foreach (var slider in Model.Sliders)
               {
                   <!-- ltn__slide-item -->
                  <div class="ltn__slide-item ltn__slide-item-2 ltn__slide-item-3-normal--- ltn__slide-item-3 bg-image bg-overlay-theme-black-60" data-bs-bg="./assets/uploads/images/@slider.SliderImage.Image.Name">
                    <div class="ltn__slide-item-inner text-center">
                        <div class="container">
                            <div class="row">
                                <div class="col-lg-12 align-self-center">
                                    <div class="slide-item-info">
                                        <div class="slide-item-info-inner ltn__slide-animation">
                                            <div class="slide-video mb-50 d-none">
                                                <a class="ltn__video-icon-2 ltn__video-icon-2-border" href="https://www.youtube.com/embed/tlThdr3O5Qo" data-rel="lightcase:myCollection">
                                                    <i class="fa fa-play"></i>
                                                </a>
                                            </div>
                                            <h6 class="slide-sub-title white-color--- animated"><span><i class="fas fa-home"></i></span> @slider.SubTitle</h6>
                                            <h1 class="slide-title animated "> @slider.Title</h1>
                                            <div class="slide-brief animated">
                                                <p>@slider.Content</p>
                                            </div>
                                            <div class="btn-wrapper animated">
                                                <a href="shop.html" class="theme-btn-1 btn btn-effect-1">Make An Enquiry</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--  -->
               }
            </div>
        </div>
        <!-- SLIDER AREA END -->
        <!-- CAR DEALER FORM AREA START -->
        <div class="ltn__car-dealer-form-area mt--65 mt-120 pb-115---">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="ltn__car-dealer-form-tab">
                            <div class="ltn__tab-menu  text-uppercase d-none">
                                <div class="nav">
                                    <a class="active show" data-bs-toggle="tab" href="#ltn__form_tab_1_1"><i class="fas fa-car"></i>Find A Car</a>
                                    <a data-bs-toggle="tab" href="#ltn__form_tab_1_2" class=""><i class="far fa-user"></i>Get a Dealer</a>
                                </div>
                            </div>
                            <div class="tab-content bg-white box-shadow-1 position-relative pb-10">
                                <div class="tab-pane fade active show" id="ltn__form_tab_1_1">
                                    <div class="car-dealer-form-inner">
                                        <form action="#" class="ltn__car-dealer-form-box row">
                                            <div class="ltn__car-dealer-form-item ltn__custom-icon---- ltn__icon-car---- col-lg-3 col-md-6">
                                                <select class="nice-select">
                                                    <option>Choose Area</option>
                                                    <option>chicago</option>
                                                    <option>London</option>
                                                    <option>Los Angeles</option>
                                                    <option>New York</option>
                                                    <option>New Jersey</option>
                                                </select>
                                            </div>
                                            <div class="ltn__car-dealer-form-item ltn__custom-icon---- ltn__icon-meter---- col-lg-3 col-md-6">
                                                <select class="nice-select">
                                                    <option>Property Status</option>
                                                    <option>Open house</option>
                                                    <option>Rent</option>
                                                    <option>Sale</option>
                                                    <option>Sold</option>
                                                </select>
                                            </div>
                                            <div class="ltn__car-dealer-form-item ltn__custom-icon---- ltn__icon-calendar---- col-lg-3 col-md-6">
                                                <select class="nice-select">
                                                    <option>Property Type</option>
                                                    <option>Apartment</option>
                                                    <option>Co-op</option>
                                                    <option>Condo</option>
                                                    <option>Single Family Home</option>
                                                </select>
                                            </div>
                                            <div class="ltn__car-dealer-form-item ltn__custom-icon ltn__icon-calendar col-lg-3 col-md-6">
                                                <div class="btn-wrapper text-center mt-0">
                                                    <!-- <button type="submit" class="btn theme-btn-1 btn-effect-1 text-uppercase">Search Inventory</button> -->
                                                    <a href="shop-right-sidebar.html" class="btn theme-btn-1 btn-effect-1 text-uppercase">Find Now</a>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                                <div class="tab-pane fade" id="ltn__form_tab_1_2">
                                    <div class="car-dealer-form-inner">
                                        <form action="#" class="ltn__car-dealer-form-box row">
                                            <div class="ltn__car-dealer-form-item ltn__custom-icon---- ltn__icon-car---- col-lg-3 col-md-6">
                                                <select class="nice-select">
                                                    <option>Choose Area</option>
                                                    <option>chicago</option>
                                                    <option>London</option>
                                                    <option>Los Angeles</option>
                                                    <option>New York</option>
                                                    <option>New Jersey</option>
                                                </select>
                                            </div>
                                            <div class="ltn__car-dealer-form-item ltn__custom-icon---- ltn__icon-meter---- col-lg-3 col-md-6">
                                                <select class="nice-select">
                                                    <option>Property Status</option>
                                                    <option>Open house</option>
                                                    <option>Rent</option>
                                                    <option>Sale</option>
                                                    <option>Sold</option>
                                                </select>
                                            </div>
                                            <div class="ltn__car-dealer-form-item ltn__custom-icon---- ltn__icon-calendar---- col-lg-3 col-md-6">
                                                <select class="nice-select">
                                                    <option>Property Type</option>
                                                    <option>Apartment</option>
                                                    <option>Co-op</option>
                                                    <option>Condo</option>
                                                    <option>Single Family Home</option>
                                                </select>
                                            </div>
                                            <div class="ltn__car-dealer-form-item ltn__custom-icon ltn__icon-calendar col-lg-3 col-md-6">
                                                <div class="btn-wrapper text-center mt-0">
                                                    <!-- <button type="submit" class="btn theme-btn-1 btn-effect-1 text-uppercase">Search Inventory</button> -->
                                                    <a href="shop-right-sidebar.html" class="btn theme-btn-1 btn-effect-1 text-uppercase">Search Properties</a>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- CAR DEALER FORM AREA END -->
        <!-- FEATURE AREA START ( Feature - 6) -->
        <div class="ltn__feature-area section-bg-1--- pt-115 pb-90 mb-120---">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="section-title-area ltn__section-title-2--- text-center">
                            <h6 class="section-subtitle section-subtitle-2 ltn__secondary-color">Our Services</h6>
                            <h1 class="section-title">Our Main Focus</h1>
                        </div>
                    </div>
                </div>
                <div class="row ltn__custom-gutter---  justify-content-center">
                    @foreach (var service in Model.Services)
                    {
                        <div class="col-lg-4 col-sm-6 col-12">
                        <div class="ltn__feature-item ltn__feature-item-6 text-center bg-white  box-shadow-1">
                            <div class="ltn__feature-icon">
                                <!-- <span><i class="flaticon-house"></i></span> -->
                                @foreach (var serviceImage in service.ServiceImages)
                                {
                                    if (serviceImage.Image.ForCard == true)
                                    {
                                        <img src="~/assets/Uploads/Images/@serviceImage.Image.Name" alt="#">
                                    }
                                }
                            </div>
                            <div class="ltn__feature-info">
                                <h3><a asp-controller="servicedetails" asp-action="index" asp-route-id="@service.Id">@service.Title</a></h3>
                                <p>@service.Description</p>
                                <a class="ltn__service-btn" asp-controller="servicedetails" asp-action="index" asp-route-id="@service.Id">Find A Home <i class="flaticon-right-arrow"></i></a>
                            </div>
                        </div>
                    </div>
                    }
                </div>
            </div>
        </div>
        <!-- FEATURE AREA END -->
        <!-- SEARCH BY PLACE AREA START (testimonial-7) -->
        <div class="ltn__search-by-place-area section-bg-1 before-bg-top--- bg-image-top--- pt-115 pb-70" data-bs-bg="img/bg/20.jpg">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="section-title-area ltn__section-title-2--- text-center">
                            <h6 class="section-subtitle section-subtitle-2 ltn__secondary-color">Area Properties</h6>
                            <h1 class="section-title">Properties By Location</h1>
                        </div>
                    </div>
                </div>
                <div class="row ltn__search-by-place-slider-1-active slick-arrow-1">
                    <div class="col-lg-4">
                        <div class="ltn__search-by-place-item">
                            <div class="search-by-place-img">
                                <a href="product-details.html"><img src="~/assets/img/product-3/1.jpg" alt="#"></a>
                                <div class="search-by-place-badge">
                                    <ul>
                                        <li>2 Properties</li>
                                    </ul>
                                </div>
                            </div>
                            <div class="search-by-place-info">
                                <h6><a href="locations.html">San Francisco</a></h6>
                                <h4><a href="product-details.html">Mission District Area</a></h4>
                                <div class="search-by-place-btn">
                                    <a href="product-details.html">View Property <i class="flaticon-right-arrow"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="ltn__search-by-place-item">
                            <div class="search-by-place-img">
                                <a href="product-details.html"><img src="~/assets/img/product-3/2.jpg" alt="#"></a>
                                <div class="search-by-place-badge">
                                    <ul>
                                        <li>5 Properties</li>
                                    </ul>
                                </div>
                            </div>
                            <div class="search-by-place-info">
                                <h6><a href="locations.html">New York</a></h6>
                                <h4><a href="product-details.html">Pacific Heights Area</a></h4>
                                <div class="search-by-place-btn">
                                    <a href="product-details.html">View Property <i class="flaticon-right-arrow"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="ltn__search-by-place-item">
                            <div class="search-by-place-img">
                                <a href="product-details.html"><img src="~/assets/img/product-3/3.jpg" alt="#"></a>
                                <div class="search-by-place-badge">
                                    <ul>
                                        <li>9 Properties</li>
                                    </ul>
                                </div>
                            </div>
                            <div class="search-by-place-info">
                                <h6><a href="locations.html">Sedona, Arizona</a></h6>
                                <h4><a href="product-details.html">Noe Valley Zones</a></h4>
                                <div class="search-by-place-btn">
                                    <a href="product-details.html">View Property <i class="flaticon-right-arrow"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="ltn__search-by-place-item">
                            <div class="search-by-place-img">
                                <a href="product-details.html"><img src="~/assets/img/product-3/2.jpg" alt="#"></a>
                                <div class="search-by-place-badge">
                                    <ul>
                                        <li>5 Properties</li>
                                    </ul>
                                </div>
                            </div>
                            <div class="search-by-place-info">
                                <h6><a href="locations.html">New York</a></h6>
                                <h4><a href="product-details.html">Pacific Heights Area</a></h4>
                                <div class="search-by-place-btn">
                                    <a href="product-details.html">View Property <i class="flaticon-right-arrow"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--  -->
                </div>
            </div>
        </div>
        <!-- SEARCH BY PLACE AREA END -->
        <!-- PRODUCT SLIDER AREA START -->
        <div class="ltn__product-slider-area ltn__product-gutter pt-115 pb-90">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="section-title-area ltn__section-title-2--- text-center">
                            <h6 class="section-subtitle section-subtitle-2 ltn__secondary-color">Properties</h6>
                            <h1 class="section-title">Featured Listings</h1>
                        </div>
                    </div>
                </div>
                <div class="row ltn__product-slider-item-three-active slick-arrow-1">
                    <!-- ltn__product-item -->
                    <div class="col-lg-12">
                        <div class="ltn__product-item ltn__product-item-4 text-center---">
                            <div class="product-img">
                                <a href="product-details.html"><img src="~/assets/img/product-3/1.jpg" alt="#"></a>
                                <div class="product-badge">
                                    <ul>
                                        <li class="sale-badge bg-green">For Rent</li>
                                    </ul>
                                </div>
                                <div class="product-img-location-gallery">
                                    <div class="product-img-location">
                                        <ul>
                                            <li>
                                                <a href="locations.html"><i class="flaticon-pin"></i> Belmont Gardens, Chicago</a>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="product-img-gallery">
                                        <ul>
                                            <li>
                                                <a href="product-details.html"><i class="fas fa-camera"></i> 4</a>
                                            </li>
                                            <li>
                                                <a href="product-details.html"><i class="fas fa-film"></i> 2</a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="product-info">
                                <div class="product-price">
                                    <span>$34,900<label>/Month</label></span>
                                </div>
                                <h2 class="product-title"><a href="product-details.html">New Apartment Nice View</a></h2>
                                <div class="product-description">
                                    <p>
                                        Beautiful Huge 1 Family House In Heart Of <br>
                                        Westbury. Newly Renovated With New Wood
                                    </p>
                                </div>
                                <ul class="ltn__list-item-2 ltn__list-item-2-before">
                                    <li>
                                        <span>3 <i class="flaticon-bed"></i></span>
                                        Bedrooms
                                    </li>
                                    <li>
                                        <span>2 <i class="flaticon-clean"></i></span>
                                        Bathrooms
                                    </li>
                                    <li>
                                        <span>3450 <i class="flaticon-square-shape-design-interface-tool-symbol"></i></span>
                                        square Ft
                                    </li>
                                </ul>
                            </div>
                            <div class="product-info-bottom">
                                <div class="real-estate-agent">
                                    <div class="agent-img">
                                        <a href="team-details.html"><img src="~/assets/img/blog/author.jpg" alt="#"></a>
                                    </div>
                                    <div class="agent-brief">
                                        <h6><a href="team-details.html">William Seklo</a></h6>
                                        <small>Estate Agents</small>
                                    </div>
                                </div>
                                <div class="product-hover-action">
                                    <ul>
                                        <li>
                                            <a href="#" title="Quick View" data-bs-toggle="modal" data-bs-target="#quick_view_modal">
                                                <i class="flaticon-expand"></i>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#" title="Wishlist" data-bs-toggle="modal" data-bs-target="#liton_wishlist_modal">
                                                <i class="flaticon-heart-1"></i>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="product-details.html" title="Product Details">
                                                <i class="flaticon-add"></i>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- ltn__product-item -->
                    <div class="col-lg-12">
                        <div class="ltn__product-item ltn__product-item-4 text-center---">
                            <div class="product-img">
                                <a href="product-details.html"><img src="~/assets/img/product-3/2.jpg" alt="#"></a>
                                <div class="product-badge">
                                    <ul>
                                        <li class="sale-badge bg-green---">For Sale</li>
                                    </ul>
                                </div>
                                <div class="product-img-location-gallery">
                                    <div class="product-img-location">
                                        <ul>
                                            <li>
                                                <a href="locations.html"><i class="flaticon-pin"></i> Belmont Gardens, Chicago</a>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="product-img-gallery">
                                        <ul>
                                            <li>
                                                <a href="product-details.html"><i class="fas fa-camera"></i> 4</a>
                                            </li>
                                            <li>
                                                <a href="product-details.html"><i class="fas fa-film"></i> 2</a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="product-info">
                                <div class="product-price">
                                    <span>$34,900<label>/Month</label></span>
                                </div>
                                <h2 class="product-title"><a href="product-details.html">Modern Apartments</a></h2>
                                <div class="product-description">
                                    <p>
                                        Beautiful Huge 1 Family House In Heart Of <br>
                                        Westbury. Newly Renovated With New Wood
                                    </p>
                                </div>
                                <ul class="ltn__list-item-2 ltn__list-item-2-before">
                                    <li>
                                        <span>3 <i class="flaticon-bed"></i></span>
                                        Bedrooms
                                    </li>
                                    <li>
                                        <span>2 <i class="flaticon-clean"></i></span>
                                        Bathrooms
                                    </li>
                                    <li>
                                        <span>3450 <i class="flaticon-square-shape-design-interface-tool-symbol"></i></span>
                                        square Ft
                                    </li>
                                </ul>
                            </div>
                            <div class="product-info-bottom">
                                <div class="real-estate-agent">
                                    <div class="agent-img">
                                        <a href="team-details.html"><img src="~/assets/img/blog/author.jpg" alt="#"></a>
                                    </div>
                                    <div class="agent-brief">
                                        <h6><a href="team-details.html">William Seklo</a></h6>
                                        <small>Estate Agents</small>
                                    </div>
                                </div>
                                <div class="product-hover-action">
                                    <ul>
                                        <li>
                                            <a href="#" title="Quick View" data-bs-toggle="modal" data-bs-target="#quick_view_modal">
                                                <i class="flaticon-expand"></i>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#" title="Wishlist" data-bs-toggle="modal" data-bs-target="#liton_wishlist_modal">
                                                <i class="flaticon-heart-1"></i>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="product-details.html" title="Product Details">
                                                <i class="flaticon-add"></i>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- ltn__product-item -->
                    <div class="col-lg-12">
                        <div class="ltn__product-item ltn__product-item-4 text-center---">
                            <div class="product-img">
                                <a href="product-details.html"><img src="~/assets/img/product-3/3.jpg" alt="#"></a>
                                <div class="product-badge">
                                    <ul>
                                        <li class="sale-badge bg-green">For Rent</li>
                                    </ul>
                                </div>
                                <div class="product-img-location-gallery">
                                    <div class="product-img-location">
                                        <ul>
                                            <li>
                                                <a href="locations.html"><i class="flaticon-pin"></i> Belmont Gardens, Chicago</a>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="product-img-gallery">
                                        <ul>
                                            <li>
                                                <a href="product-details.html"><i class="fas fa-camera"></i> 4</a>
                                            </li>
                                            <li>
                                                <a href="product-details.html"><i class="fas fa-film"></i> 2</a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="product-info">
                                <div class="product-price">
                                    <span>$34,900<label>/Month</label></span>
                                </div>
                                <h2 class="product-title"><a href="product-details.html">Comfortable Apartment</a></h2>
                                <div class="product-description">
                                    <p>
                                        Beautiful Huge 1 Family House In Heart Of <br>
                                        Westbury. Newly Renovated With New Wood
                                    </p>
                                </div>
                                <ul class="ltn__list-item-2 ltn__list-item-2-before">
                                    <li>
                                        <span>3 <i class="flaticon-bed"></i></span>
                                        Bedrooms
                                    </li>
                                    <li>
                                        <span>2 <i class="flaticon-clean"></i></span>
                                        Bathrooms
                                    </li>
                                    <li>
                                        <span>3450 <i class="flaticon-square-shape-design-interface-tool-symbol"></i></span>
                                        square Ft
                                    </li>
                                </ul>
                            </div>
                            <div class="product-info-bottom">
                                <div class="real-estate-agent">
                                    <div class="agent-img">
                                        <a href="team-details.html"><img src="~/assets/img/blog/author.jpg" alt="#"></a>
                                    </div>
                                    <div class="agent-brief">
                                        <h6><a href="team-details.html">William Seklo</a></h6>
                                        <small>Estate Agents</small>
                                    </div>
                                </div>
                                <div class="product-hover-action">
                                    <ul>
                                        <li>
                                            <a href="#" title="Quick View" data-bs-toggle="modal" data-bs-target="#quick_view_modal">
                                                <i class="flaticon-expand"></i>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#" title="Wishlist" data-bs-toggle="modal" data-bs-target="#liton_wishlist_modal">
                                                <i class="flaticon-heart-1"></i>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="product-details.html" title="Product Details">
                                                <i class="flaticon-add"></i>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- ltn__product-item -->
                    <div class="col-lg-12">
                        <div class="ltn__product-item ltn__product-item-4 text-center---">
                            <div class="product-img">
                                <a href="product-details.html"><img src="~/assets/img/product-3/4.jpg" alt="#"></a>
                                <div class="product-badge">
                                    <ul>
                                        <li class="sale-badge bg-green">For Rent</li>
                                    </ul>
                                </div>
                                <div class="product-img-location-gallery">
                                    <div class="product-img-location">
                                        <ul>
                                            <li>
                                                <a href="locations.html"><i class="flaticon-pin"></i> Belmont Gardens, Chicago</a>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="product-img-gallery">
                                        <ul>
                                            <li>
                                                <a href="product-details.html"><i class="fas fa-camera"></i> 4</a>
                                            </li>
                                            <li>
                                                <a href="product-details.html"><i class="fas fa-film"></i> 2</a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="product-info">
                                <div class="product-price">
                                    <span>$34,900<label>/Month</label></span>
                                </div>
                                <h2 class="product-title"><a href="product-details.html">Luxury villa in Rego Park </a></h2>
                                <div class="product-description">
                                    <p>
                                        Beautiful Huge 1 Family House In Heart Of <br>
                                        Westbury. Newly Renovated With New Wood
                                    </p>
                                </div>
                                <ul class="ltn__list-item-2 ltn__list-item-2-before">
                                    <li>
                                        <span>3 <i class="flaticon-bed"></i></span>
                                        Bedrooms
                                    </li>
                                    <li>
                                        <span>2 <i class="flaticon-clean"></i></span>
                                        Bathrooms
                                    </li>
                                    <li>
                                        <span>3450 <i class="flaticon-square-shape-design-interface-tool-symbol"></i></span>
                                        square Ft
                                    </li>
                                </ul>
                            </div>
                            <div class="product-info-bottom">
                                <div class="real-estate-agent">
                                    <div class="agent-img">
                                        <a href="team-details.html"><img src="~/assets/img/blog/author.jpg" alt="#"></a>
                                    </div>
                                    <div class="agent-brief">
                                        <h6><a href="team-details.html">William Seklo</a></h6>
                                        <small>Estate Agents</small>
                                    </div>
                                </div>
                                <div class="product-hover-action">
                                    <ul>
                                        <li>
                                            <a href="#" title="Quick View" data-bs-toggle="modal" data-bs-target="#quick_view_modal">
                                                <i class="flaticon-expand"></i>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#" title="Wishlist" data-bs-toggle="modal" data-bs-target="#liton_wishlist_modal">
                                                <i class="flaticon-heart-1"></i>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="product-details.html" title="Product Details">
                                                <i class="flaticon-add"></i>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- ltn__product-item -->
                    <div class="col-lg-12">
                        <div class="ltn__product-item ltn__product-item-4 text-center---">
                            <div class="product-img">
                                <a href="product-details.html"><img src="~/assets/img/product-3/5.jpg" alt="#"></a>
                                <div class="product-badge">
                                    <ul>
                                        <li class="sale-badge bg-green">For Rent</li>
                                    </ul>
                                </div>
                                <div class="product-img-location-gallery">
                                    <div class="product-img-location">
                                        <ul>
                                            <li>
                                                <a href="locations.html"><i class="flaticon-pin"></i> Belmont Gardens, Chicago</a>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="product-img-gallery">
                                        <ul>
                                            <li>
                                                <a href="product-details.html"><i class="fas fa-camera"></i> 4</a>
                                            </li>
                                            <li>
                                                <a href="product-details.html"><i class="fas fa-film"></i> 2</a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="product-info">
                                <div class="product-price">
                                    <span>$34,900<label>/Month</label></span>
                                </div>
                                <h2 class="product-title"><a href="product-details.html">Beautiful Flat in Manhattan </a></h2>
                                <div class="product-description">
                                    <p>
                                        Beautiful Huge 1 Family House In Heart Of <br>
                                        Westbury. Newly Renovated With New Wood
                                    </p>
                                </div>
                                <ul class="ltn__list-item-2 ltn__list-item-2-before">
                                    <li>
                                        <span>3 <i class="flaticon-bed"></i></span>
                                        Bedrooms
                                    </li>
                                    <li>
                                        <span>2 <i class="flaticon-clean"></i></span>
                                        Bathrooms
                                    </li>
                                    <li>
                                        <span>3450 <i class="flaticon-square-shape-design-interface-tool-symbol"></i></span>
                                        square Ft
                                    </li>
                                </ul>
                            </div>
                            <div class="product-info-bottom">
                                <div class="real-estate-agent">
                                    <div class="agent-img">
                                        <a href="team-details.html"><img src="~/assets/img/blog/author.jpg" alt="#"></a>
                                    </div>
                                    <div class="agent-brief">
                                        <h6><a href="team-details.html">William Seklo</a></h6>
                                        <small>Estate Agents</small>
                                    </div>
                                </div>
                                <div class="product-hover-action">
                                    <ul>
                                        <li>
                                            <a href="#" title="Quick View" data-bs-toggle="modal" data-bs-target="#quick_view_modal">
                                                <i class="flaticon-expand"></i>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#" title="Wishlist" data-bs-toggle="modal" data-bs-target="#liton_wishlist_modal">
                                                <i class="flaticon-heart-1"></i>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="product-details.html" title="Product Details">
                                                <i class="flaticon-add"></i>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--  -->
                </div>
            </div>
        </div>
        <!-- PRODUCT SLIDER AREA END -->
        <!-- VIDEO AREA START -->
        <div class="ltn__video-popup-area ltn__video-popup-margin---">
            <div class="ltn__video-bg-img ltn__video-popup-height-600--- bg-overlay-black-30 bg-image bg-fixed ltn__animation-pulse1" data-bs-bg="img/bg/19.jpg">
                <a class="ltn__video-icon-2 ltn__video-icon-2-border---" href="https://www.youtube.com/embed/X7R-q9rsrtU?autoplay=1&showinfo=0" data-rel="lightcase:myCollection">
                    <i class="fa fa-play"></i>
                </a>
            </div>
        </div>
        <!-- VIDEO AREA END -->
        <!-- TESTIMONIAL AREA START -->
        <div class="ltn__testimonial-area ltn__testimonial-4 pt-115 pb-100 plr--9">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="section-title-area ltn__section-title-2--- text-center">
                            <h6 class="section-subtitle section-subtitle-2 ltn__secondary-color">Our Testimonial</h6>
                            <h1 class="section-title">Clients Feedback</h1>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <div class="ltn__testimonial-slider-4 ltn__testimonial-slider-4-active slick-arrow-1">
                            <div class="ltn__testimonial-item-5">
                                <div class="ltn__quote-icon">
                                    <i class="far fa-comments"></i>
                                </div>
                                <div class="ltn__testimonial-image">
                                    <img src="~/assets/img/testimonial/1.jpg" alt="quote">
                                </div>
                                <div class="ltn__testimonial-info">
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud  ullamco laboris nisi ut aliquip ex ea commodo.  </p>
                                    <h4>Jacob William</h4>
                                    <h6>Manager</h6>
                                </div>
                            </div>
                            <div class="ltn__testimonial-item-5">
                                <div class="ltn__quote-icon">
                                    <i class="far fa-comments"></i>
                                </div>
                                <div class="ltn__testimonial-image"><img src="~/assets/img/testimonial/2.jpg" alt="quote"></div>
                                <div class="ltn__testimonial-info">
                                    <p>Quidem Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud  ullamco laboris nisi ut aliquip ex ea. </p>
                                    <h4>Ethan James</h4>
                                    <h6>Admin</h6>
                                </div>
                            </div>

                            <div class="ltn__testimonial-item-5">
                                <div class="ltn__quote-icon">
                                    <i class="far fa-comments"></i>
                                </div>
                                <div class="ltn__testimonial-image"><img src="~/assets/img/testimonial/3.jpg" alt="quote"></div>
                                <div class="ltn__testimonial-info">
                                    <p>Dolor Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud  ullamco nisi ut aliquip ex ea commodo. </p>
                                    <h4>Noah Alexander</h4>
                                    <h6>Professor</h6>
                                </div>
                            </div>

                            <div class="ltn__testimonial-item-5">
                                <div class="ltn__quote-icon">
                                    <i class="far fa-comments"></i>
                                </div>
                                <div class="ltn__testimonial-image"><img src="~/assets/img/testimonial/4.jpg" alt="quote"></div>
                                <div class="ltn__testimonial-info">
                                    <p>Amet Ipsum Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud  nisi ut aliquip ex ea commodo.  </p>
                                    <h4>Liam Mason</h4>
                                    <h6>Officer</h6>
                                </div>
                            </div>
                        </div>
                        <ul class="ltn__testimonial-quote-menu d-none d-lg-block">
                            <li><img src="~/assets/img/testimonial/1.jpg" alt="Quote image"></li>
                            <li><img src="~/assets/img/testimonial/2.jpg" alt="Quote image"></li>
                            <li><img src="~/assets/img/testimonial/3.jpg" alt="Quote image"></li>
                            <li><img src="~/assets/img/testimonial/4.jpg" alt="Quote image"></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!-- TESTIMONIAL AREA END -->
        <!-- BRAND LOGO AREA START -->
        <div class="ltn__brand-logo-area ltn__brand-logo-1 section-bg-1 pt-110 pb-110 plr--9 d-none---">
            <div class="container-fluid">
                <div class="row ltn__brand-logo-active">
                    <div class="col-lg-12">
                        <div class="ltn__brand-logo-item">
                            <img src="~/assets/img/brand-logo/1.png" alt="Brand Logo">
                        </div>
                    </div>
                    <div class="col-lg-12">
                        <div class="ltn__brand-logo-item">
                            <img src="~/assets/img/brand-logo/2.png" alt="Brand Logo">
                        </div>
                    </div>
                    <div class="col-lg-12">
                        <div class="ltn__brand-logo-item">
                            <img src="~/assets/img/brand-logo/3.png" alt="Brand Logo">
                        </div>
                    </div>
                    <div class="col-lg-12">
                        <div class="ltn__brand-logo-item">
                            <img src="~/assets/img/brand-logo/4.png" alt="Brand Logo">
                        </div>
                    </div>
                    <div class="col-lg-12">
                        <div class="ltn__brand-logo-item">
                            <img src="~/assets/img/brand-logo/5.png" alt="Brand Logo">
                        </div>
                    </div>
                    <div class="col-lg-12">
                        <div class="ltn__brand-logo-item">
                            <img src="~/assets/img/brand-logo/3.png" alt="Brand Logo">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- BRAND LOGO AREA END -->
        <!-- BLOG AREA START (blog-3) -->
        <div class="ltn__blog-area pt-120 pb-70">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="section-title-area ltn__section-title-2--- text-center">
                            <h6 class="section-subtitle section-subtitle-2 ltn__secondary-color">News & Blogs</h6>
                            <h1 class="section-title">Leatest News Feeds</h1>
                        </div>
                    </div>
                </div>
                <div class="row  ltn__blog-slider-one-active slick-arrow-1 ltn__blog-item-3-normal">
                    <!-- Blog Item -->
                    <div class="col-lg-12">
                        <div class="ltn__blog-item ltn__blog-item-3">
                            <div class="ltn__blog-img">
                                <a href="blog-details.html"><img src="~/assets/img/blog/1.jpg" alt="#"></a>
                            </div>
                            <div class="ltn__blog-brief">
                                <div class="ltn__blog-meta">
                                    <ul>
                                        <li class="ltn__blog-author">
                                            <a href="#"><i class="far fa-user"></i>by: Admin</a>
                                        </li>
                                        <li class="ltn__blog-tags">
                                            <a href="#"><i class="fas fa-tags"></i>Decorate</a>
                                        </li>
                                    </ul>
                                </div>
                                <h3 class="ltn__blog-title"><a href="blog-details.html">10 Brilliant Ways To Decorate Your Home</a></h3>
                                <div class="ltn__blog-meta-btn">
                                    <div class="ltn__blog-meta">
                                        <ul>
                                            <li class="ltn__blog-date"><i class="far fa-calendar-alt"></i>June 24, 2021</li>
                                        </ul>
                                    </div>
                                    <div class="ltn__blog-btn">
                                        <a href="blog-details.html">Read more</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Blog Item -->
                    <div class="col-lg-12">
                        <div class="ltn__blog-item ltn__blog-item-3">
                            <div class="ltn__blog-img">
                                <a href="blog-details.html"><img src="~/assets/img/blog/2.jpg" alt="#"></a>
                            </div>
                            <div class="ltn__blog-brief">
                                <div class="ltn__blog-meta">
                                    <ul>
                                        <li class="ltn__blog-author">
                                            <a href="#"><i class="far fa-user"></i>by: Admin</a>
                                        </li>
                                        <li class="ltn__blog-tags">
                                            <a href="#"><i class="fas fa-tags"></i>Interior</a>
                                        </li>
                                    </ul>
                                </div>
                                <h3 class="ltn__blog-title"><a href="blog-details.html">The Most Inspiring Interior Design Of 2021</a></h3>
                                <div class="ltn__blog-meta-btn">
                                    <div class="ltn__blog-meta">
                                        <ul>
                                            <li class="ltn__blog-date"><i class="far fa-calendar-alt"></i>July 23, 2021</li>
                                        </ul>
                                    </div>
                                    <div class="ltn__blog-btn">
                                        <a href="blog-details.html">Read more</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Blog Item -->
                    <div class="col-lg-12">
                        <div class="ltn__blog-item ltn__blog-item-3">
                            <div class="ltn__blog-img">
                                <a href="blog-details.html"><img src="~/assets/img/blog/3.jpg" alt="#"></a>
                            </div>
                            <div class="ltn__blog-brief">
                                <div class="ltn__blog-meta">
                                    <ul>
                                        <li class="ltn__blog-author">
                                            <a href="#"><i class="far fa-user"></i>by: Admin</a>
                                        </li>
                                        <li class="ltn__blog-tags">
                                            <a href="#"><i class="fas fa-tags"></i>Estate</a>
                                        </li>
                                    </ul>
                                </div>
                                <h3 class="ltn__blog-title"><a href="blog-details.html">Recent Commercial Real Estate Transactions</a></h3>
                                <div class="ltn__blog-meta-btn">
                                    <div class="ltn__blog-meta">
                                        <ul>
                                            <li class="ltn__blog-date"><i class="far fa-calendar-alt"></i>May 22, 2021</li>
                                        </ul>
                                    </div>
                                    <div class="ltn__blog-btn">
                                        <a href="blog-details.html">Read more</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Blog Item -->
                    <div class="col-lg-12">
                        <div class="ltn__blog-item ltn__blog-item-3">
                            <div class="ltn__blog-img">
                                <a href="blog-details.html"><img src="~/assets/img/blog/4.jpg" alt="#"></a>
                            </div>
                            <div class="ltn__blog-brief">
                                <div class="ltn__blog-meta">
                                    <ul>
                                        <li class="ltn__blog-author">
                                            <a href="#"><i class="far fa-user"></i>by: Admin</a>
                                        </li>
                                        <li class="ltn__blog-tags">
                                            <a href="#"><i class="fas fa-tags"></i>Room</a>
                                        </li>
                                    </ul>
                                </div>
                                <h3 class="ltn__blog-title"><a href="blog-details.html">Renovating a Living Room? Experts Share Their Secrets</a></h3>
                                <div class="ltn__blog-meta-btn">
                                    <div class="ltn__blog-meta">
                                        <ul>
                                            <li class="ltn__blog-date"><i class="far fa-calendar-alt"></i>June 24, 2021</li>
                                        </ul>
                                    </div>
                                    <div class="ltn__blog-btn">
                                        <a href="blog-details.html">Read more</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Blog Item -->
                    <div class="col-lg-12">
                        <div class="ltn__blog-item ltn__blog-item-3">
                            <div class="ltn__blog-img">
                                <a href="blog-details.html"><img src="~/assets/img/blog/5.jpg" alt="#"></a>
                            </div>
                            <div class="ltn__blog-brief">
                                <div class="ltn__blog-meta">
                                    <ul>
                                        <li class="ltn__blog-author">
                                            <a href="#"><i class="far fa-user"></i>by: Admin</a>
                                        </li>
                                        <li class="ltn__blog-tags">
                                            <a href="#"><i class="fas fa-tags"></i>Trends</a>
                                        </li>
                                    </ul>
                                </div>
                                <h3 class="ltn__blog-title"><a href="blog-details.html">7 home trends that will shape your house in 2021</a></h3>
                                <div class="ltn__blog-meta-btn">
                                    <div class="ltn__blog-meta">
                                        <ul>
                                            <li class="ltn__blog-date"><i class="far fa-calendar-alt"></i>June 24, 2021</li>
                                        </ul>
                                    </div>
                                    <div class="ltn__blog-btn">
                                        <a href="blog-details.html">Read more</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--  -->
                </div>
            </div>
        </div>
        <!-- BLOG AREA END -->
        <!-- CALL TO ACTION START (call-to-action-6) -->
        <div class="ltn__call-to-action-area call-to-action-6 before-bg-bottom" data-bs-bg="img/1.jpg--">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="call-to-action-inner call-to-action-inner-6 ltn__secondary-bg position-relative text-center---">
                            <div class="coll-to-info text-color-white">
                                <h1>Looking for a dream home?</h1>
                                <p>We can help you realize your dream of a new home</p>
                            </div>
                            <div class="btn-wrapper">
                                <a class="btn btn-effect-3 btn-white" href="contact.html">Explore Properties <i class="icon-next"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- CALL TO ACTION END -->