@model Product

@{
    List<Area> areas = (List<Area>)ViewData["areas"];
    List<ProductStatus> productStatuses = (List<ProductStatus>)ViewData["productStatuses"];
}

<div class="container">
    <div class="row">
        <div class="col-md-12 grid-margin stretch-card">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title mb-2">Update - Product</h4>
                    <div asp-validation-summary="All" class="text-danger"></div>
                    <form enctype="multipart/form-data" method="post" class="forms-sample">
                        <div class="form-group">
                            <label asp-for="Title">Title</label>
                            <input asp-for="Title" class="form-control" placeholder="Title">
                        </div>
                        <div class="form-group">
                            <label asp-for="Description">Description</label>
                            <input asp-for="Description" class="form-control" placeholder="Description">
                        </div>
                        <div class="form-group">
                            <label asp-for="SubDescription">Sub-Description</label>
                            <input asp-for="SubDescription" class="form-control" placeholder="Description">
                        </div>
                        <div class="form-group">
                            <label asp-for="VideoLink">Video link</label>
                            <input asp-for="VideoLink" class="form-control" placeholder="VideoLink">
                        </div>
                        <div class="form-group">
                            <label asp-for="AreaId">Area</label>
                            <select asp-for="AreaId" class="form-control form-control-lg">
                                @foreach (var area in areas)
                                {
                                    <option value="@area.Id">@area.Name</option>
                                }
                            </select>
                        </div>
                        <div class="form-group">
                            <label asp-for="ProductStatusId">Status</label>
                            <select asp-for="ProductStatusId" class="form-control form-control-lg">
                                @foreach (var productStatus in productStatuses)
                                {
                                    <option value="@productStatus.Id">@productStatus.Name</option>
                                }
                            </select>
                        </div>
                        <div class="container">
                            <div class="row">
                                @foreach (var item in Model.ProductImages)
                                {
                                    if (item.Image.ForCard == true)
                                    {
                                        <div class="col-4">
                                            <div class="card mb-5">
                                                <div class="card-header p-0 mx-3 mt-3 position-relative z-index-1">
                                                    <a class="d-block">
                                                        <img src="~/Assets/Uploads/Images/@item.Image.Name" class="border-radius-lg card-img-top img-card">
                                                    </a>
                                                </div>

                                                <div class="card-body pt-2">
                                                    <span class="text-gradient text-primary text-uppercase text-xs font-weight-bold my-2">Card Image</span>
                                                    <div class="align-items-center mt-3">
                                                        <input accept="Image/*" asp-for="CardFile" class="btn bg-gradient-info">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    }
                                }
                                <div class="col-4">
                                    <div class="card mb-5">
                                        <div class="card-header p-0 mx-3 mt-3 position-relative z-index-1">
                                            <a class="d-block">
                                                @foreach (var item in Model.ProductImages)
                                                {
                                                    if (item.Image.ForGallery == true)
                                                    {
                                                        <img src="~/Assets/Uploads/Images/@item.Image.Name" class="border-radius-lg img-gallery">
                                                    }
                                                }
                                            </a>
                                        </div>
                                        <div class="card-body pt-2">
                                            <span class="text-gradient text-primary text-uppercase text-xs font-weight-bold my-2">Gallery Image</span>
                                            <div class="align-items-center mt-3">
                                                <input accept="Image/*" asp-for="ImageFiles" class="btn bg-gradient-info">
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-4">
                                    <div class="card mb-5">
                                        <div class="card-header p-0 mx-3 mt-3 position-relative z-index-1">
                                            <a class="d-block">
                                                @foreach (var item in Model.ProductImages)
                                                {
                                                    if (item.Image.ForHeader == true)
                                                    {
                                                        <img src="~/Assets/Uploads/Images/@item.Image.Name" class="border-radius-lg img-gallery">

                                                    }
                                                }
                                            </a>
                                        </div>
                                        <div class="card-body pt-2">
                                            <span class="text-gradient text-primary text-uppercase text-xs font-weight-bold my-2">Header Image</span>
                                            <div class="align-items-center mt-3">
                                                <input accept="Image/*" asp-for="HeaderFiles" class="btn bg-gradient-info">
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                        <button type="submit" class="btn btn-outline-success mr-2">Update</button>
                        <button asp-controller="product" asp-action="UpdateDetail" asp-route-id="@Model.Id" class="btn btn-outline-dark">Cancel</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
